<ion-header>
  <ion-navbar>
    <ion-title>
      所有漢字
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>
    <ion-searchbar [(ngModel)]="search" (ionInput)="onInput($event)">
    </ion-searchbar>
    <div class="words" *ngFor="let word of words">
      <div *ngIf="regexp.test(word.title)">
        <button block ion-button icon-right (click)="nextPage(word)">
          {{word.title}}
        </button>
      </div>
      <ion-icon *ngIf="word.remark!==false" name="md-information-circle" (click)="iconClick(word)"></ion-icon>
    </div>
  </ion-list>



</ion-content>
