<ion-header>
  <ion-navbar>
    <ion-title>
      {{word.title}}　({{pronunciation}})
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>
    <button ion-button block (click)="addWord()">新增單字</button>
    <button ion-button block (click)="autoplay()">自動播放</button>
    <ion-searchbar [(ngModel)]="search" (ionInput)="onInput($event)">
    </ion-searchbar>
    <div *ngFor="let w of word[pronunciation];let i = index">
      <div class="wrapper" *ngIf="regexp.test(w.cn) || regexp.test(w.jp)">
        <div class="card" ion-long-press [interval]="400" (onPressing)="longPress(i)" [ngClass]="w.status?'is-flipped':''" (click)="switchStatus(w)">
          <button ion-button block class="card-face card-front">{{w.cn}}</button>
          <button ion-button block class="card-face card-back">{{w.jp}}</button>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
